<footer>
    <div class="f-info text-black">
        <div class="f-info-socials">
            <br>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <div class="text-black">&copy;Wanderlust Private Limited</div>
        <div class="f-info-links text-black">
            <a href="">privacy</a>
            <a href="">terms</a>
        </div>
    </div>
</footer>