<% layout("/layouts/boilerplate.ejs") %>

    <body>
     
        <br>
        <h1 class="text-black">All listings</h1>

        <!-- <form action="/listings/new" method="get">
        <button>create new list</button>
    </form> -->
        <br>

        <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
            <% for(listings of allListing){ %>
                <a href="/listings/<%=listings._id%>" class="listing-link">
                    <div class="card col">
                        <img src="<%=listings.image%>" class="card-img-top" alt="Listing_image"
                            style="height: 17rem;">
                            <div class="card-img-overlay"> &#9829;</div>
                        <div class="card-body">
                            <p class="card-text text-black">
                                <b>
                                  <%=listings.title %>
                                </b>
                                <br>
                                 Price:&nbsp;&#x20B9;<%= listings.price %>/night
                            </p>
                        </div>
                    </div>
                    <%}%>
                </a>
        </div>


    </body>